* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variaveis */
:root {
  --brand-color: #ef5f4c;
  --bg-color: #fff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: #ffffff57;
  --text-color-primary: #313131;
  --text-color-seconday: #6c6c6c;
  --font-family: "Poppins", sans-serif;
  --p-large: 16px/150% var(--font-family);
  --p-small: 12px/170% var(--font-family);
  --p-medium: 14px/170% var(--font-family);
  --heading-1: bold 32px/125% var(--font-family);
}

.p-md {
  font-size: 14px;
  line-height: 170%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color-primary);
}
