* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* variaveis */
:root {
  --brand-color: #ef5f4c;
  --bg-color: #fff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: #ffffff57;
  --text-color-primary: #313131;
  --text-color-seconday: #6c6c6c;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color-primary);
}
