/* .gallery {
    padding: 24px 32px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;

}

.picture {
    width: 33,3%;
} */

.gallery {
  padding-block: 24px ;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery .picture {
  width: 286px; /* 4 por linha considerando o gap */
  height: 286px;
  display: block;
  object-fit: cover;
}
