header {
  padding-block: 32px;
  font: var(--p-medium);
}

header .container {
  align-items: center;
  display: flex;
  /* align-items: center; */

  justify-content: space-between;
}

.profile {
  display: flex;
  gap: 32px;
  max-width: 50%;
  align-items: center;
}

.profile h1 {
  font: var(--heading-1);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}

.info {
  width: 280px;
  display: flex;
  list-style: none;
  flex-direction: column;
  gap: 16px;
}

.info li {
  display: flex;
  gap: 8px;

}
