header {
  padding-block: 32px;
}

.profile {
  display: flex;
  gap: 32px;
  max-width: 50%;
}

.profile h1 {
    font: var(--heading-1);
    color: var(--text-color-primary);
}

.info ul {
  list-style: none;
}
