
/* 
header {
  padding: 20px;
  background-color: var(--bg-color);
  display: flex;
  align-items: end;
} */
@import url(global.css);
@import url(nav.css);
@import url(header.css);
@import url(gallery.css);